body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
}

form {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.header nav a{
    background-color: var(--text-color);
    color: rgb(0, 0, 0);
    padding-left: 3%;
    text-align: center;
}

.header nav a {
    color: #000000;
    margin: 0 10px;
    text-decoration: none;
}

.header nav a.active {
    color: rgb(0, 0, 0);
    border-bottom: 2px solid var(--primary-color);
}

form h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #444;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

fieldset {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  
}

legend {
  padding-top: 5%;
  font-weight: bold;
  color: #333;

}


button {
  display: block;
  width: 100%;
  background-color: #2196F3;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #1976D2;
}
