h1{
    color: aquamarine;
}

h2{
    color: wheat;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fx.com%2Ftecatetismo%2Fstatus%2F1298308261599481856&psig=AOvVaw2vX8xQT4elpz_Oj9uwv5bZ&ust=1762002389979000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCMiGw8jAzpADFQAAAAAdAAAAABAE);
}