body {
  
  background-image: url(https://www.soccerbible.com/media/135201/betis-1-min.jpg); 
  color: white;
}

table {
    max-width: 800px;
}

pre{
  font-family: 'Times New Roman', Times, serif;
}
h1 {
  color: rgb(1, 255, 1);

}

h2 {
  color: rgb(2, 255, 2);
}

h3 {
  color: rgb(0, 255, 0);
}

table {
  width: 100%;
}



th {
  color: white;
}

a {
  color: rgb(0, 255, 0);
  text-decoration: none;
}


button {
  color: rgb(0, 0, 0);

}


