body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background-color: #4CAF50;
  padding: 20px;
  color: white;
  text-align: center;
}

nav {
  background-color: #2196F3; 
  padding: 15px;
  color: white;
  text-align: center;
}

main {
  background-color: #f1f1f1; 
  padding: 30px;
  text-align: center;
}

footer {
  background-color: #333; 
  padding: 20px;
  color: white;
  text-align: center;
}
