body {
  
  background-image: url(https://img1.wallspic.com/crops/1/4/9/7/3/137941/137941-rendimiento-campeonato-el_fc_barcelona-la_premier_league-el_real_madrid_c_f-3840x2160.jpg); 
  color: white;
  
}

table {
    max-width: 30%;
}

pre{
  font-family: 'Times New Roman', Times, serif;
}
h1 {
  color: rgb(1, 255, 1);

}

h2 {
  color: rgb(2, 255, 2);
}

h3 {
  color: rgb(0, 255, 0);
}

table {
  width: 100%;
}



th {
  color: white;
}

a {
  color: rgb(0, 255, 0);
  text-decoration: none;
}


button {
  color: white;

}


footer {
  float: left;
  color: white;
}

